body {
  background-color: var(--bg-color);

  @include breakpoint(md) {
    background-color: var(--white);
  }
}

input,
button {
  transition: all .2s;

  &:focus {
    outline: none;
    transform: translateY(-3px);
    box-shadow: var(--shadow-base);
    color: rgba(var(--color-text-black), 1);
    background-color: var(--white);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: auto;
}