.link {
  cursor: pointer;
  width: max-content;

  &--view-project {
    @extend .link;
    // color: Rgb($color-secondary);
    font-size: 17px;
    display: flex;
    align-items: center;

    .icon {
      margin-left: 5px;
    }
  }

  &--learn-more {
    // color: Rgb($color-secondary);
  }

  &--report {
    @extend .link;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 12px 18px;
    background-color: Rgb($color-tertiary);
    border-radius: 10px;
    color: white;
    font-size: 16px;
    transition: all .3s;

    &:hover {
      transform: translateY(3px);
    }
  }
}