$color-primary: #818181;
$lighten: 10%;

:root {
  //colors
  --white: #fff;
  --black: #242424;

  // fonts
  --font-main: 'Roboto', sans-serif;
}

// mixins
@mixin breakpoint($class) {
  @if $class==xs {
    @media (max-width: 500px) {
      @content;
    }
  }

  @else if $class==sm {
    @media (max-width: 600px) {
      @content;
    }
  }

  @else if $class==md {
    @media (max-width: 992px) {
      @content;
    }
  }

  @else if $class==lg {
    @media (max-width: 1200px) {
      @content;
    }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}