// project page
.project {
  padding-top: 79px;

  @include breakpoint(md) {
    padding-top: 75px;
  }

  @include breakpoint(sm) {
    padding-top: 64px;
  }
}

.main-case {
  display: grid;
  gap: 200px;
  width: 70vw;
  margin: 0 auto;
  margin-top: 100px;

  @include breakpoint(md) {
    width: auto;
    max-width: 90vw;
  }

  @include breakpoint(sm) {
    gap: 50px;
    margin-top: 50px;
  }

  .section-header {
    background-color: black;
    color: white;
    padding: 10px 15px;
    margin-bottom: 50px;
    width: min-content;
    min-width: max-content;

    @include breakpoint(sm) {
      margin-bottom: 30px;
    }
  }

}

.list--header {
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.process-section {
  display: grid;
  gap: 100px;
  max-width: 90vw;

  @include breakpoint(sm) {
    gap: 50px;
  }
}